<header id="header">
    <!--header-->
    <div class="header_top">
      &nbsp;
      <br>
      <br>
      <br>
    </div>
    <!--/header_top-->
    <div class="Bgbranco" id="box-area-clientes">
      <!--header-middle-->
      <table width="97%" height="65" border="0" cellspacing="6" cellpadding="0">
        <tr>
          <td width="22%">&nbsp;&nbsp;&nbsp;
            <a href="/">
              <img src="/assets/images/home/logo.png" width="150" height="49">
            </a>
          </td>
          <td width="13%">
            <div class="mainmenu">
              <ul class="nav navbar-nav collapse navbar-collapse">
                <li class="dropdown">
                  <a href="#">Menu
                    <i class="fa fa-angle-down"></i>
                  </a>
                  <ul role="menu" class="sub-menu">
                    <li>
                      <a href="#">
                        <img src="../../assets/images/home/logoTransp.fw.png" width="150" height="49">
                      </a>
                    </li>
                    <li>
                      <!-- <a  [router-link]="'corportativo'">Venda Corporativa</a> -->
                      <!-- <a [routerlink]="['/corporativo']">Catalog</a> -->
                      <a [routerLink]="['/corporativo']">Venda Corporativa</a>
                    </li>
                    <li>
                        <a [routerLink]="['/cartoes']">Cartao de visita</a>
                    </li>
                    <!-- <li>
                      <a href="PortaCartao.html">Porta Cartão</a>
                    </li>
                    <li>
                      <a href="Envelope.html">Envelope</a>
                    </li>
                    <li>
                      <a href="blog.html">Blog</a>
                    </li>
                    <li>
                      <a href="Ajuda.html">Ajuda</a>
                    </li>
                    <li>
                      <a href="www.vagas.com.br">Trabalhe Conosco</a>
                    </li>
                    <li>
                      <a href="Login.html">Login</a>
                    </li> -->
  
                  </ul>
                </li>
              </ul>
            </div>
          </td>
          <td class="search_box" width="30%">
            <form action="#" class="searchform">
              <input type="text" placeholder="Pesquisar..." style="width: 22.8em; height: 2.6em; background-color: white;" />
            </form>
          </td>
          <td width="8%">
            <!-- <a href="Corporativo.html"> -->
                <a [routerLink]="['corporativo']">
              <i class="fa fa-coffee"></i>&nbsp;Corporativo</a>
          </td>
          <!-- <td width="5%">
            <a href="Conta.html">
              <img src="../../assets/images/home/icouser.fw.png" width="46" height="43" class="img-responsive">
            </a>
          </td> -->
          <td width="6%">
            <a href="/cart">
              <img src="../../assets/images/home/icocart.fw.png" width="46" height="43" class="img-responsive">
            </a>
          </td>
          <!-- <td width="16%">Olá:&nbsp;&nbsp;
            <a href="Login.html">
              <img src="../../assets/images/pt_br.png" alt="Logar na sua Conta" width="16" height="11">
            </a>
            &nbsp;
            <span>
              <a href="#">sair</a>
            </span>
          </td> -->
        </tr>
      </table>
    </div>
  
  </header>
  <!--/header-->