<div>&nbsp;</div>
<div>&nbsp;</div>
<aside class="footer-top">
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div class="contact-form" align="center">
    <h4>Inscreva-se em nossa newsletter</h4>
    <p>para receber nossas últimas notícias e descontos exclusivos</p>
    <form action="#" class="searchform">
      <input type="email" placeholder="E-mail" class="well">
      <a class="btn btn-default img-rounded" href="">Enviar</a>
    </form>
  </div>
</aside>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div align="center">
  <br>
  <i>
    <a href="#">
      <img src="/assets/images/home/SocialLinkedin.fw.png" width="40" height="38">
    </a>&nbsp;&nbsp;
    <a href="#">
      <img src="/assets/images/home/SocialTwitter.fw.png" width="40" height="38">
    </a>&nbsp;&nbsp;
    <a href="#">
      <img src="/assets/images/home/SocialFace.fw.png" width="39" height="38">
    </a>
  </i>
</div>
<div>&nbsp;</div>
<footer id="footer" style="background-color:#353E60">
  <!--Footer-->
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <div class="companyinfo">
            <img src="/assets/images/home/logoTransp.fw.png" width="150" height="49">
            <p>2018 @Direitos Reservados!</p>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="col-sm-3">
            <div class="video-gallery text-center">
              <div class="">
                &nbsp;
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="video-gallery">
              <div align="left">
                <span class="h5">
                  <a [routerLink]="['contato']">Contato</a>
                </span>
                <br>
                <br>
                <span class="h5">
                  <a [routerLink]="['sobre']">Sobre</a>
                </span>
                <!-- <br>
                <br>
                <span class="h5">
                  <a href="Blog.html">Blog</a>
                </span> -->
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="video-gallery" align="left">
              <div class="">
                <span class="h5">
                  <a [routerLink]="['lancamentos']">Lançamentos</a>
                </span>
                <br>
                <br>
                <span class="h5">
                  <a [routerLink]="['cartoes']">Cartões</a>
                </span>
                <!-- <br>
                <br>
                <span class="h5">
                  <a [routerLink]="['corporativo']">Corporativo</a>
                </span> -->
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="video-gallery" align="left">
              <div class="">
                <span class="h5">
                  <a [routerLink]="['contrato']">Termos de uso</a>
                </span>
                <br>
                <br>
                <!-- <span class="h5">
                  <a href="www.vagas.com.br">Trabalhe Conosco</a>
                </span> -->
                <!-- <br>
                <br> -->
                <!-- <span class="h5">
                  <a href="Tutoriais.html">Tutoriais</a>
                </span> -->

                <span class="h5">
                  <a [routerLink]="['corporativo']" >Corporativo</a>
                </span>

              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="address">
            <img src="/assets/images/home/map.png" alt="">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom Bgbranco">
    <div class="container">
      <div class="row">
        <img src="/assets/images/home/bandeiras.fw.png" width="100%" height="auto"> </div>
    </div>
  </div>

</footer>
