<!-- CONFIGURAÇAO -->
<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
<div id="contact-page" class="container">
  <div class="row">
    <div class="col-sm-9">
      <div class="contact-form">
        <table width="100%" border="0" cellspacing="6" cellpadding="0" class="header-bottom  table-condensed">
          <tr>
            <td class="alert-success">
              <h3 class="text-info">&nbsp;&nbsp;Dados</h3>
            </td>
          </tr>
          <tr>
            <td class="Bgbranco" align="center">
              <div class="col-lg-5" align="center">
                <span class="text-center text-info h4">
                  <label class="radio-inline">
                    <input type="radio" name="optradio" class="btn-radio-pessoa" ngModel required #pFisica="ngModel">Pessoa Fisica</label>
                </span>
              </div>
              <div class="col-lg-4" align="center">
                <span class="text-info h4">
                  <label class="radio-inline">
                    <input type="radio" name="optradio"  class="btn-radio-pessoa" [(ngModel)]="pJuridica">Pessoa Juridica</label>
                </span>
              </div>
            </td>
          </tr>
          <tr>
            <td class="Bgbranco" align="center">&nbsp;

            </td>
          </tr>
          <tr>
            <td class="Bgbranco" align="center">
              <div>
                <input type="text" class="form-control input-forms" id="nome" name="nome" placeholder="Nome Completo">
              </div>
            </td>
          </tr>
          <tr>
            <td class="Bgbranco" align="center">
              <div>
                <input type="text" class="form-control input-forms" id="Fone" name="fone" placeholder="Telefone">
              </div>
            </td>
          </tr>
          <tr>
            <td class="Bgbranco" align="center">
              <div>
                <input type="text" class="form-control input-forms" id="cpf" name="cpf" placeholder="CPF">
              </div>
            </td>
          </tr>
          <tr>
            <td class="Bgbranco" align="center">
              <!-- <label for="Sexo">Sexo</label> -->
              <div style="display: flex; width: 86%;">

                <select class="form-control select-forms" id="Sexo">
                  <option value="0">Sexo</option>
                  <option value="M">Masculino</option>
                  <option value="F">Feminino</option>
                </select>
                <select class="form-control select-forms">
                  <option>Ocupação</option>
                  <option>Academia</option>
                  <option>Arquitetura</option>
                  <option>Comunicação e Marketing</option>
                  <option>Consultoria</option>
                  <option>Designer / Fotografia</option>
                  <option>Engenharia</option>
                  <option>Estetica</option>
                  <option>Fisioterapia</option>
                  <option>Imobiliaria</option>
                  <option>Informatica</option>
                  <option>Medicina</option>
                  <option>Odontologia</option>
                  <option>Veterinaria / Pet</option>
                  <option>Outros</option>
                </select>
              </div>

            </td>
          </tr>
          <tr>
            <td class="Bgbranco" align="center">
              <button class="btn btn-primary text-center">
                SALVAR DADOS
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="&nbsp;">&nbsp;</div>
<div id="contact-page" class="container">
  <div class="row">
    <div class="col-sm-9">
      <div class="contact-form">
        <table width="100%" border="0" cellspacing="6" cellpadding="0" class="header-bottom  table-condensed">
          <tr>
            <td class="alert-success">
              <h3 class="text-info">&nbsp;&nbsp;Selecione o Endereço</h3>
            </td>
          </tr>
          <tr>
            <td class="Bgbranco" align="center">&nbsp;</td>
          </tr>
          <tr>
            <td class="Bgbranco" align="center">
              <div>
                <input type="text" id="nome" name="nome" placeholder="Nome Completo">
              </div>
            </td>
          </tr>
          <tr>
            <td class="Bgbranco" align="center">
              <div>
                <input type="text" id="nome" name="nome" placeholder="Cpf">
              </div>
            </td>
          </tr>
          <tr>
            <td class="Bgbranco" align="center">
              <div>
                <input type="text" id="nome" name="nome" placeholder="Cep">
              </div>
              <span class="h6">
                <a href="www.correios.com.br">
                  <i class="fa fa-cloud-upload"></i>&nbsp;Não sei meu cep!
                </a>
              </span>
            </td>
          </tr>
          <tr>
            <td class="Bgbranco" align="center">
              <div class="checkbox" align="center">
                <button class="btn btn-primary text-center">
                  SALVAR ENDEREÇO
                </button>
              </div>
              <span class="h6">
                <a href="#">
                  <i class="fa fa-plus"></i>&nbsp;Adicionar novo Endereço
                </a>
              </span>
            </td>
          </tr>
          <tr>
            <td class="Bgbranco" align="center">&nbsp;</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="&nbsp;">&nbsp;</div>
<div id="contact-page" class="container">
  <div class="row">
    <div class="col-sm-9">
      <div class="contact-form">
        <table width="100%" border="0" cellspacing="6" cellpadding="0" class="header-bottom  table-condensed">
          <tr>
            <td class="alert-success">
              <h3 class="text-info">&nbsp;&nbsp;Selecione a forma de pagamento</h3>
            </td>
          </tr>
          <tr>
            <td class="Bgbranco" align="center">
              <div class="form-group" align="center">
                &nbsp;&nbsp;
                <button class="well">
                  <h2>Cartao de Credito&nbsp;&nbsp;
                    <i class="fa fa-credit-card"></i>
                  </h2>
                </button>
                &nbsp;&nbsp;
                <button class="well">
                  <h2>Boleto Bancario&nbsp;&nbsp;
                    <i class="fa fa-bars"></i>
                  </h2>
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <td class="Bgbranco">
              <!-- DADOS DO CARTAO -->
              <table width="97%" border="0" cellspacing="6" cellpadding="0">
                <tr>
                  <td width="39%">
                    <div>
                      <img src="/assets/images/home/cartao.fw.png" width="304" height="186">
                    </div>
                  </td>
                  <td width="61%">
                    <input type="text" class="form-control" placeholder="N° do Cartão" style="width:400px;font-size: 13px; border: 2px solid #E4E4;">
                    <br>
                    <input type="text" class="form-control" placeholder="Nome" style="width:400px;font-size: 13px; border: 2px solid #E4E4;">
                    <br>
                    <span>
                      <input type="text" class="form-control content2" placeholder="Mês" style="width:100px;font-size: 13px; float:left; border: 2px solid #E4E4;">
                    </span>

                    <input type="text" class="form-control  content2" placeholder="Ano" style="width:100px;font-size: 13px; float:left; border: 2px solid #E4E4;">

                    <span>
                      <input type="text" class="form-control  content2" placeholder="COD CCV" style="width:90px;font-size: 13px; float:none; border: 2px solid #E4E4;">
                    </span>
                  </td>
                </tr>
              </table>

              <!-- FIM DOS DADOS DO CARTAO -->
            </td>
          </tr>
          <tr>
            <td class="Bgbranco" align="center"></td>
          </tr>
          <tr>
            <td class="Bgbranco" align="center">
              <div class="checkbox" align="center">
                <a href="Finalizar.html">
                  <button class="btn btn-primary text-center">
                    FINALIZAR PAGAMENTO
                  </button>
                </a>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="&nbsp;">&nbsp;</div>
  <div id="contact-page">
    <div class="row">
      <div class="col-sm-9">
        <div class="contact-form">
          <table width="100%" border="0" cellspacing="6" cellpadding="0" class="table-condensed">
            <tr>
              <td class="alert-success">
                <h3 class="text-info">&nbsp;&nbsp;Selecione a forma de pagamento</h3>
              </td>
            </tr>
            <tr>
              <td class="Bgbranco" align="center">
                <div class="form-group" align="center">
                  &nbsp;&nbsp;
                  <button class="well">
                    <h2>Cartao de Credito&nbsp;&nbsp;
                      <i class="fa fa-credit-card"></i>
                    </h2>
                  </button>
                  &nbsp;&nbsp;
                  <button class="well">
                    <h2>Boleto Bancario&nbsp;&nbsp;
                      <i class="fa fa-bars"></i>
                    </h2>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td class="Bgbranco" align="left">
                <span>&nbsp;&nbsp;
                  <I class="fa fa-calendar"></I>
                  &nbsp;Escolha uma data para o vencimento do seu boleto
                </span>
                <br>
              </td>
            </tr>
            <tr>
              <td class="Bgbranco" align="left">
                &nbsp;&nbsp;
                <select style="width: 15.0em; height: 2.0em; background-color: white; vertical-align:middle; border: 2px solid #E4E4;">
                  <option>xxxxxx</option>
                  <option>xxxxxxx</option>
                  <option>xxxxxxx</option>
                  <option>xxxxxxx</option>
                  <option>xxxxxxxx</option>
                </select>
                <br>
              </td>
            </tr>
            <tr>
              <td class="Bgbranco" align="left">
                <span>&nbsp;&nbsp;
                  <I class="fa fa-print"></I>
                  &nbsp;Imprima o boleto e pague no banco ou caixa eletrônico
                </span>
                <br>
              </td>
            </tr>
            <tr>
              <td class="Bgbranco" align="left">
                <span>&nbsp;&nbsp;
                  <I class="fa fa-print"></I>&nbsp;&nbsp;Ou Pague pela internet utilizando o código de barras do boleto
                </span>
              </td>
            </tr>
            <tr>
              <td class="Bgbranco" align="center">
                <div align="center">
                  <a href="Finalizar.html">
                    <button class="btn btn-primary text-center">
                      FINALIZAR PAGAMENTO
                    </button>
                  </a>
                </div>
              </td>
            </tr>
            <tr>
              <td class="Bgbranco" align="center">&nbsp;</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div id="apDiv1" class="navbar-default" align="center">
    <br>
    <span>(1 item)</span>
    <br>
    <span> Total: </span>
    <br>
    <span class="text-success">R$ 62,99</span>
    <br>
    <br>
    <span>Previsão de entrega:</span>
  </div>
  <div id="apDiv2" class="Bgbranco" align="center">
    <h2>Resumo</h2>
  </div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
<!-- </form> -->