.input-forms {
    width: 45.0em !important; 
    height: 4.0em; 
    background-color: white;
    vertical-align:middle; 
    border: 2px solid #E4E4;
}

.select-forms {
    width: 26.0em !important; 
    height: 4.0em; 
    background-color: white;
    vertical-align:middle;
    border: 2px solid #EEE;
    margin-right: 5px !important;
}

input[type=text] {
    background-image: none;
}


span.text-center.text-info.h5{
    border: 2px solid;
    padding: 9px;
    border-radius: 5px;
    
    margin-left:10px;
}

span.text-center.text-info.h5:hover, span.text-center.text-info input:hover{
    border-color: #006ee3;
    background-color: #006ee3;
    color: white;
    cursor:pointer;
}

.btn-radio-pessoa {
}
