<img src="/assets/images/home/BannerCorporativo.jpg" width="100%" height="auto">
<br>
<br>
<section>
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li>
          <a href="index.html">Home</a>
        </li>
        <li class="active">Corporativo</li>
      </ol>
    </div>
  </div>
  <div class="container">
    <table width="100%" border="0" cellspacing="6" cellpadding="0">
      <tr>
        <td>
          <div class="well img-rounded">
            <span class="h3 text-info">ATENDIMENTO CORPORATIVO</span>
            <br>
            <br>
            <span class="h4">atendimento é exclusivo para clientes com:</span>
            <br>
            <br>
            <span class="h5">> Pedidos superiores a R$ 5.000,00
              <br>> Porte superior a 50 funcionários
              <br>> Empresa com 10 unidades ou mais</span>
            <br>
            <button type="button" class="btn btn-default get" onClick="MM_openBrWindow('Cloud-Corporativo.html','Corporativo','scrollbars=yes,width=450,height=500')">Acessar</button>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <!-- beneficios -->
          <div class="container">
            <div>
              <div class="features_items">
                <!--features_items-->
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center table-bordered">
                        <br>
                        <img src="/assets/images/home/gerente.fw.png" alt="" />
                        <br>
                        <br>
                        <span class="h2">Gerente de contas</span>
                        <br>
                        <br>
                        <p>Ficou com dúvida na hora de fazer seu pedido? Fale com um de nossos executivos especializados e tenha
                          um atendimento personalizado. </p>
                        <br>
                        <br>
                      </div>
                    </div>
                    <div class="choose">
                      <ul class="nav nav-pills nav-justified">
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="product-image-wrapper table-condensed">
                    <div class="single-products">
                      <div class="productinfo text-center table-bordered">
                        <br>
                        <img src="/assets/images/home/Proespeciais.fw.png" alt="" />
                        <br>
                        <br>
                        <span class="h2">Projetos Especiais</span>
                        <br>
                        <br>
                        <p>Não encontrou algum produto no site? No atendimento exclusivo, você também pode fazer projetos especiais.</p>
                        <br>
                        <br>
                      </div>
                    </div>
                    <div class="choose">
                      <ul class="nav nav-pills nav-justified">
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center table-bordered">
                        <br>
                        <img src="/assets/images/home/Pfaturado.fw.png" alt="" />
                        <br>
                        <br>
                        <span class="h2">Pagamento Faturado</span>
                        <br>
                        <br>
                        <p>Opção de pagamento perfeita para empresas. Fature seu pagamento e tenha facilidade e comodidade na
                          realização dos pedidos.</p>
                        <br>
                        <br>
                      </div>
                    </div>
                    <div class="choose">
                      <ul class="nav nav-pills nav-justified">
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div id="slider-carousel" class="well" data-ride="carousel">
            <div class="carousel-inner">
              <div class="item active">
                <div class="col-sm-6">
                  <h1>
                    <span>Agilidade para seus materiais gráficos</span>
                  </h1>
                  <p>Personalize arquivos de diferentes funcionários, unidades ou franquias e acompanhe a impressão e distribuição
                    dos materiais. Tudo com total controle das quantidades e o uso correto da marca.</p>
                  <br>
                  <br>
                  <a href="#">
                    <button type="button" class="btn btn-info">SOLICITAR</button>
                  </a>
                </div>
                <div class="col-sm-6">
                  <img src="/assets/images/home/atendimento-cloud.jpg" class="girl img-responsive" alt="" />
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</section>
