<section class="container">
  <div class="col-sm-12">
    <table width="100%" border="0" cellspacing="6" cellpadding="0">
      <tr>
        <td align="center">
          &nbsp;
        </td>
      </tr>
      <tr>
        <td align="center">
          <div class="well img-rounded" align="justify">
            <h1 class="title">Sobre a CARTÃO AQUI</h1>
            <h2>Revolucionando o mercado gráfico</h2>
            <p class="title">A CARTÃO AQUI está no mercado desde 2017</p>
            <img src="/assets/images/home/banner-sobre.png" class="img-responsive" />
            <p class="h5 text-muted">
              <br> A CARTÃO AQUI é um modelo inovador de gráfica online no mercado brasileiro, com impressões de alta qualidade
              a preços acessíveis. Utilizamos as mais modernas ferramentas do setor de Web2CARTÃO AQUI para simplificar e
              agilizar o complexo processo de encomenda de cartões personalizados.
            </p>
            <p class="h5 text-muted">
              Fundada a partir de conceitos adquiridos em 25 anos de experiência na indústria gráfica brasileira, a CARTÃO AQUI oferece
              mais de 6.000 combinações diferentes de produtos impressos. Todas essas combinações são acessíveis através
              de nossa revolucionária matriz de customização, que dá ao usuário o total controle de seu produto, e calcula,
              em tempo real, o custo final do orçamento. É essa funcionalidade que traz completa transparência ao processo
              de compra e que separa a CARTÃO AQUI de seus concorrentes no mercado gráfico.
            </p>
            <p class="h5 text-muted">
              A CARTÃO AQUI convida todos a testarem nosso processo de customização e compra. Em caso de dúvidas, entre em contato conosco
              através do email
              <a href="mailto:suporte@cartaoaqui.com.br">suporte@CARTÃOAQUI.com.br</a> ou do telefone xx xxxx xxxx
            </p>
          </div>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>

  </div>
  <!-- FIM  -->
</section>
