<div class="row">
  
  <div align="center" class="col-xs-push-3">
    <table width="100%" border="0" cellspacing="6" cellpadding="0">
      <tr>
        <td>
          <!--CARRINHO -->    
          <div class="col-lg-10">
            <table width="97%" border="0" cellspacing="2" cellpadding="2" class="well">
              <tr class="btn-success" align="center">
                <td class="btn-info"><span class="btn-lg">PRODUTO</span></td>
                <td class="btn-info">&nbsp;</td>
                <td class="btn-info"><span class="btn-lg">PREVISÃO DE ENTREGA</span></td>
                <td class="btn-info"><span class="btn-lg">QUANTIDADE</span></td>
                <td class="btn-info"><span class="btn-lg">VALOR</span></td>
              </tr>
              <tr align="center" class="Bgbranco">
                <td><div class="img-thumbnail"><img src="assets/images/home/sprite-cart.fw.png" width="100" height="100"></div></td>
                <td>Cartão de Visita</td>
                <td>07/11/2017<br>
                  CEP: 72501-503</td>
                  <td>100</td>
                  <td>R$ 62,99</td>
                </tr>
                <tr align="center" class="Bgbranco">
                  <td>&nbsp;</td>
                  <td>90 x 50 mm <br>
                    Frente e Verso<br>
                    4x4 (colorido)<br>
                    Ver mais...</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr align="center" class="Bgbranco">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr align="center" class="Bgbranco">
                    <td>&nbsp;</td>
                    <td><i class="fa fa-edit">&nbsp;<span class="text-primary"><strong>Editar</strong></span></i></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><i class="fa fa-eraser"></i>&nbsp;<a href="#" class="text-danger">Excluir</a></td>
                  </tr>
                </table>
                <table width="97%" border="0" cellspacing="2" cellpadding="2">
                  <tr>
                    <td width="425" class="breadcrumb cart_info Bgbranco" align="center">Cupom de desconto<br><input type="text" placeholder="Adicionar código"><p class="text-info">Validar</p></td>
                    <td width="80">&nbsp;</td>
                    <td width="445" class="breadcrumb cart_info Bgbranco" align="center">TOTAL: <p class="text-success">R$ 62,99</p></td>
                  </tr>
                </table>
                <div class="text-info" align="center">
                  <span class="h6"><a href="/" >Continuar Comprando</a></span><br>
                  <a href="Pagamento.html">
                    <button class="btn btn-primary text-center">
                      CONTINUAR
                    </button>
                  </a>
                </div>
              </div>
            </td>
          </tr>
        </table>
        <div><table width="100%" border="0" cellspacing="6" cellpadding="0">
          <tr>
            <td>
              <div>
                <div>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-warning h5"><a href="#"><i class="fa fa-archive"></i>&nbsp;BAIXAR ORÇAMENTO</a></span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table>
      </div>			
      <div>&nbsp;</div>
    </div>
  </div>
  