<div class="cart-component" >
  
  
  <div class="row">
    <div class="col-md-10">
      <div class="row header-cart"> 
        <div class="col-md-4">PRODUTO</div>
        <div class="col-md-2">PREVISÃO DE ENTREGA</div>
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-2">QUANTIDADE</div>
        <div class="col-md-2">VALOR</div>
      </div>
      <div class="row  item-cart well" *ngFor="let item of items()">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-4">
              
              <div class="row">
                <div class="col-md-6" >
                  <div class="img-thumbnail"><img [src]="item.images[0]" width="100" height="100"></div>
                </div>
                <div class="col-md-6">
                  <div class="row">{{item.name}}</div>
                  <div class="row">
                    {{item.description}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              {{item.previsaoEntrega| date:'dd/MM/yyyy'}}<br>
              CEP:{{item.cep}}
            </div>
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-2">{{item.qtdItems}}</div>
            <div class="col-md-2">{{item.payment.value * item.qtdItems  | currency: 'BRL': true }}</div>        
          </div>
        </div>
        <div class="row" >    
          <div class="col-md-3 col-md-offset-2">
            <i class="fa fa-edit">&nbsp;</i>
            <span class="text-primary cursor">
              <strong>Editar</strong>
            </span>
          </div>
          <div class="col-md-2 col-md-offset-5">
            <i class="fa fa-eraser"></i>&nbsp;<span  (click)="removeItem(item)"  class="text-danger cursor">Excluir</span>
          </div>
        </div> 
      </div>
      
      <div class="row info-box-cart" >      
        <div class="col-md-4 text-center well col-md-offset-1" >
          Cupom de desconto
          <input type="text" placeholder="Adicionar código" />
          <p class="text-info" > Validar </p>
        </div>
        
        <div class="col-md-4 text-center well col-md-offset-1" >
          TOTAL: <p class="text-success" > {{total() | currency: 'BRL': true}} </p>
        </div> 
      </div>
      
      <div class="row">
        <div class="text-info" align="center">
          <span class="h6">
              
            <a [routerLink]="['/cartoes/configCartao']">Continuar Comprando</a>
            </span><br>
          <a href="Pagamento.html">
            <button class="btn btn-primary text-center">
              CONTINUAR
            </button>
          </a>
        </div>
      </div>
      
      <div class="row">
        <span class="text-warning h5 text-left"><a href="#"><i class="fa fa-archive"></i>&nbsp;BAIXAR ORÇAMENTO</a></span>
      </div>
      
      
      
    </div>
    <div class="col-md-2">
      <div id="apDiv1" class="navbar-default" align="center">
        <br>
        <span>({{items().length}} item)</span><br>
        Total: <br>
        <span class="text-success">{{total() | currency: 'BRL': true}}</span><br>
        
        <span>Configurações Adicionais</span><br>
        <button class="btn btn-primary">
          CONTINUAR
        </button>
      </div>
      <div id="apDiv2" class="Bgbranco" align="center">
        <h2>Resumo</h2>
      </div>
      
      
    </div>
    
  </div>
  
  
</div>