.header-cart {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  padding: 8px 0px;
}

.border-item-cart {
  border-bottom: solid 1px;
  padding-bottom: 40px;
  width: 97%;
  margin: 0 auto;
}

.item-cart {
  padding: 40px 0px;
}

.info-box-cart {
  display: flex;
}

.cursor:hover {
  cursor: pointer
}
