  <section class="container">
    <div class="row">
      <div id="cartoes-page" class="col-12 well">
        <table width="100%" border="0" cellspacing="6" cellpadding="0">
          <tr>
            <td>
              <div class="col-sm-6">
                <carousel>
                  <slide>
                    <img src="/assets/images/cartao-visita/slide1.jpg" alt="First slide" style="display: block; width:100%; height:350px;">
                  </slide>
                  <slide>
                    <img src="/assets/images/cartao-visita/slide2.jpg" alt="Second slide" style="display: block; width:100%; height:350px;">
                  </slide>
                </carousel>
              </div>
              <div class="col-sm-6">
                <br>
                <br>
                <br>
                <span class="h1 text-primary">CARTÃO DE VISITA</span>
                <br>
                <br>
                <span class="h5">-Invista na melhor impressão que o cliente terá da sua marca</span>
                <br>
                <span class="h5">- Mantenha seus contatos sempre disponíveis e próximos do público</span>
                <br>
                <span class="h5">- A divulgação mais rápida e eficiente para a sua marca</span>
                <br>
                <br>
                <span>A partir de</span>
                <br>
                <span class="h3 text-primary">R$ 10,99</span>
                <span class="unidade">/ 100 un.</span>
                <br>

                <br>
                <button type="button" class="btn btn-info" [routerLink]="['/configCartao']">&nbsp;&nbsp;CONFIGURE AQUI&nbsp;&nbsp;</button>
                <br>
                <span class="h6">
                  Na próxima tela você pode configurar as especificações do seu produto e conferir o preço
                </span>
              </div>
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <!-- DICAS -->
          <tr>
            <td class=" img-rounded">
              <div>
                <h4>1. Inclua apenas dados básicos de identificação e contato</h4>
                <p>Os cartões de visita são os principais impressos de apresentação pessoal disponíveis.</p>
                <p>Para que ele seja eficiente e cumpra seu papel, insira apenas informações relevantes, que ajudem na sua identificação.
                </p>
                <p>Veja mais em nosso
                  <a href="tutoriais.html" target="_blank">Tutorial de Cartão de Visita</a>.</p>

              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="container">
                <div class="container">
                  <div class="row">
                    <div class='col-md-offset-2 col-md-8 text-center'>

                    </div>
                  </div>
                  <div class="row">
                    <div class='col-md-offset-2 col-md-8'>
                      <!-- <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                    
                    <ol class="carousel-indicators">
                      <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                      <li data-target="#quote-carousel" data-slide-to="1"></li>
                      <li data-target="#quote-carousel" data-slide-to="2"></li>
                    </ol>

                    
                    <div class="carousel-inner">
                      
                      <div class="item active">
                        <blockquote>
                          <div class="row">
                            <div class="col-sm-3 text-center">
                              <img class="img-circle" src="/assets/images/home/cliente-1.jpg" style="width: 100px;height:100px;">
                            </div>
                            <div class="col-sm-9">
                              <p>O atendimento personalizado e a atenção especial que a gráfica online oferece transformou a
                                Cartão Aqui não apenas em fornecedores, mas em grandes parceiros para o nosso negócio.!</p>
                              <small>Adriano Alcalde CFO - Netshoes</small>
                            </div>
                          </div>
                        </blockquote>
                      </div>
                      <div class="item">
                        <blockquote>
                          <div class="row">
                            <div class="col-sm-3 text-center">
                              <img class="img-circle" src="/assets/images/home/cliente-2.jpg" style="width: 100px;height:100px;">
                            </div>
                            <div class="col-sm-9">
                              <p>A Cartão aqui nos permitiu economizar entre 15 e 20% de nossos custos de impressão de Cartão,
                                além da economia de tempo. Do ponto de vista financeiro, vale a pena ser cliente da Printi.</p>
                              <small>Marcelo Froes Comprador Pleno - Certisign</small>
                            </div>
                          </div>
                        </blockquote>
                      </div>
                      <div class="item">
                        <blockquote>
                          <div class="row">
                            <div class="col-sm-3 text-center">
                              <img class="img-circle" src="/assets/images/home/cliente-3.jpg" style="width: 100px;height:100px;">
                            </div>
                            <div class="col-sm-9">
                              <p>A parceria com a Cartáo Aqui é importante para nós que precisamos de soluções para impressão
                                de Cartão. Isto só foi possível pelo alto grau de responsabilidade e competência que nos
                                foi oferecido.</p>
                              <small>Denise Souza Sócio-Diretor - Groupon</small>
                            </div>
                          </div>
                        </blockquote>
                      </div>
                    </div>
                    
                    <a data-slide="prev" href="#quote-carousel" class="left carousel-control">
                      <i class="fa fa-chevron-left"></i>
                    </a>
                    <a data-slide="next" href="#quote-carousel" class="right carousel-control">
                      <i class="fa fa-chevron-right"></i>
                    </a>
                  </div> -->
                      <br />
                      <carousel>
                        <slide>
                          <div class="item">
                            <blockquote>
                              <div class="row">
                                <div class="col-sm-3 text-center">
                                  <img class="img-circle" src="/assets/images/home/cliente-1.jpg" style="width: 100px;height:100px;">
                                </div>
                                <div class="col-sm-9">
                                  <p>A Cartão aqui nos permitiu economizar entre 15 e 20% de nossos custos de impressão de Cartão,
                                    além da economia de tempo. Do ponto de vista financeiro, vale a pena ser cliente da Printi.</p>
                                  <small>Marcelo Froes Comprador Pleno - Certisign</small>
                                </div>
                              </div>
                            </blockquote>
                          </div>
                        </slide>
                        <slide>
                          <div class="item">
                            <blockquote>
                              <div class="row">
                                <div class="col-sm-3 text-center">
                                  <img class="img-circle" src="/assets/images/home/cliente-2.jpg" style="width: 100px;height:100px;">
                                </div>
                                <div class="col-sm-9">
                                  <p>A Cartão aqui nos permitiu economizar entre 15 e 20% de nossos custos de impressão de Cartão,
                                    além da economia de tempo. Do ponto de vista financeiro, vale a pena ser cliente da Printi.</p>
                                  <small>Marcelo Froes Comprador Pleno - Certisign</small>
                                </div>
                              </div>
                            </blockquote>
                          </div>
                        </slide>
                        <slide>
                          <div class="item">
                            <blockquote>
                              <div class="row">
                                <div class="col-sm-3 text-center">
                                  <img class="img-circle" src="/assets/images/home/cliente-3.jpg" style="width: 100px;height:100px;">
                                </div>
                                <div class="col-sm-9">
                                  <p>A Cartão aqui nos permitiu economizar entre 15 e 20% de nossos custos de impressão de Cartão,
                                    além da economia de tempo. Do ponto de vista financeiro, vale a pena ser cliente da Printi.</p>
                                  <small>Marcelo Froes Comprador Pleno - Certisign</small>
                                </div>
                              </div>
                            </blockquote>
                          </div>
                        </slide>
                      </carousel>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="" align="center">
              <img src="/assets/images/home/bannerpros.fw.png" width="936" height="474" class="img-responsive">
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table>
      </div>
    </div>
    <!-- FIM  -->
  </section>
