<div class="col-sm-12">
  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="save()">
    <div class="row">
      <div class="features_items">
        <div class="">
          <h3 class="col-md-10 col-lg-10">
            <img src="/assets/images/home/um.jpg" width="40" height="40">&nbsp;ESCOLHA A FORMA DE CRIAR SEU PRODUTO</h3>
        </div>
        <div class="&nbsp;">&nbsp;</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-lg-10">
        <h3 class="text-info alert-success">
          <img src="/assets/images/home/okverde.fw.png" width="81" height="68">ESCOLHA COMO MONTAR SEU CARTÃO
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="text-center col-md-10">
        <div class="well">
          <div>
            <ul class="list-inline">
              <li class="blk-in-1">
                <img src="/assets/images/home/Enviar.fw.png">
                <div class="box upload" (click)="enviarArte(true)">
                  <div class="opt" [ngClass]="{'active': blEnviar}">
                    <input type="radio" name="use_pickup_places">
                    <div class="check"></div>
                    <label> Enviar minha arte</label>
                  </div>
                </div>
              </li>
              <li class="blk-in-1">
                <img src="/assets/images/home/online.fw.png">
                <div class="box upload" (click)="criarArte(true)">
                  <div class="opt" [ngClass]="{'active': blCriar}">
                    <input type="radio" name="use_pickup_places">
                    <div class="check"></div>
                    <label>Criar On-line</label>
                  </div>
                </div>
              </li>
              <li class="blk-in-1">
                <img src="/assets/images/home/Cdesinger.fw.png">
                <div class="box upload" (click)="contratarArte(true)">
                  <div class="opt" [ngClass]="{'active': blContratar}">
                    <input type="radio" name="use_pickup_places">
                    <div class="check"></div>
                    <label>Contratar Criação</label>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="blEnviar">
      <div class="col-md-10 pull-left">
        <h3>
          <img src="/assets/images/home/dois.jpg" width="40" height="40">&nbsp; SELECIONE AS OPÇÕES
        </h3>
      </div>
    </div>
    <div class="group-config" *ngIf="blEnviar">
      <div class="row">
        <div class="col-md-10">
          <div class="alert-success">
            <h3 class="text-info">
              <img src="/assets/images/home/okverde.fw.png" width="81" height="68">FORMATO</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <ul class="list-inline">
            <li *ngFor="let frmt of formatos">
              <div class="image option-image">
                <i class="lupa"></i>
                <img src="{{ frmt.pathImagem }}" alt="{{ frmt.altImage }}" title="{{ frmt.altImage }}">
              </div>
              <div class="optselect" [ngClass]="{'active': form.value.Formato == frmt.descricao}">
                <input type="radio" value="{{ frmt.descricao}}" formControlName="Formato">
                <div class="check inpt"></div>
                <label class="ng-binding">{{ frmt.descricao}}</label>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="alert-success">
            <h3 class="text-info">
              <img src="/assets/images/home/okverde.fw.png" width="81" height="68">IMPRESSÃO</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <ul class="list-inline">
            <li class="blk-in-2" *ngFor="let imp of impressao">
              <div class="image option-image">
                <i class="lupa"></i>
                <img src="{{ imp.pathImagem }}" alt="{{ imp.altImage }}" title="{{ imp.altImage }}">
              </div>
              <div class="optselect" [ngClass]="{'active': form.value.Impressao == imp.descricao}">
                <input type="radio" value="{{ imp.descricao }}" formControlName="Impressao">
                <div class="check inpt"></div>
                <label class="ng-binding">{{ imp.descricao }}</label>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="alert-success">
            <h3 class="text-info">
              <img src="/assets/images/home/okverde.fw.png" width="81" height="68">PAPEL</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <ul class="list-inline">
            <li class="blk-in-2" *ngFor="let ppl of papel">
              <div class="image option-image">
                <i class="lupa"></i>
                <img src="{{ ppl.pathImagem }}" alt="{{ ppl.altImage }}" title="{{ ppl.altImage }}">
              </div>
              <div class="optselect" [ngClass]="{'active': form.value.Papel == ppl.descricao}">
                <input type="radio" value="{{ ppl.descricao }}" formControlName="Papel">
                <div class="check inpt"></div>
                <label class="ng-binding">{{ ppl.descricao }}</label>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="alert-success">
            <h3 class="text-info">
              <img src="/assets/images/home/okverde.fw.png" width="81" height="68">ENOBRECIMENTO</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <ul class="list-inline">
            <li class="blk-in-2" *ngFor="let enobr of enobrecimento">
              <div class="image option-image">
                <i class="lupa"></i>
                <img src="{{ enobr.pathImagem }}" alt="{{ enobr.altImage }}" title="{{ enobr.altImage }}">
              </div>
              <div class="optselect" [ngClass]="{'active': form.value.Enobrecimento == enobr.descricao}">
                <input type="radio" value="{{ enobr.descricao}}" formControlName="Enobrecimento">
                <div class="check inpt"></div>
                <label class="ng-binding">{{ enobr.descricao}}</label>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="alert-success">
            <h3 class="text-info">
              <img src="/assets/images/home/okverde.fw.png" width="81" height="68">EXTRAS</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <ul class="list-inline">
            <li class="blk-in-2" *ngFor="let extr of extras">

              <div class="image option-image">
                <i class="lupa"></i>
                <img src="{{ extr.pathImagem }}" alt="{{ extr.altImage }}" title="{{ extr.altImage }}">
              </div>
              <div class="optselect" [ngClass]="{'active': form.value.Extras == extr.descricao}">
                <input type="radio" value="{{ extr.descricao }}" formControlName="Extras">
                <div class="check inpt"></div>
                <label class="ng-binding">{{ extr.descricao}}</label>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 pull-left">
          <h3>
            <img src="/assets/images/home/tres.jpg" width="40" height="40"> CALCULE O FRETE E A PREVISÃO DE ENTREGA
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="alert-success">
            <h3 class="text-info">
              <img src="/assets/images/home/okverde.fw.png" width="81" height="68">FRETE E O PRAZO DE ENTREGA
            </h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="features_items col-md-10">
          <!-- novo component de radio -->
          <ul class="list-inline well">
            <li>
              <div class="optselect" [ngClass]="{'active': !retirada}" (click)="ativarEntrega()">
                <input type="radio" name="use_pickup_places">
                <div class="check"></div>
                <label> Entrega</label>
              </div>
            </li>
            <li>
              <div class="optselect" [ngClass]="{'active': retirada}" (click)="ativarRetirada()">
                <input type="radio" name="use_pickup_places">
                <div class="check"></div>
                <label> Retirada</label>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 well">
          <div class="cep-entrega" *ngIf="entrega">
            <label for="cep">CEP</label>
            <input type="text" name="cep" maxlength="9">
            <!-- <input name="ok" class="btn-info alert" value="ok" type="button"> -->
            <button name="ok" class="btn green" value="ok" type="button" (click)="exibeFrete()">OK</button>
          </div>
          <div class="features_items local-retirada" *ngIf="retirada">
            <label for="localPartida">ESCOLHA UM LOCAL PARA RETIRADA!</label>
            <select name="cidadeRetirada" (change)="exibeFrete()">
              <option value="">Selecione</option>
              <option value="br">Brasilia</option>
              <option value="sp">Sao paulo</option>
              <option value="rj">Rio de janeiro</option>
              <option value="ct">Curitiba</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <table class="breadcrumb" width="100%" height="550" cellspacing="15" cellpadding="15">
            <tbody>
              <tr class="">
                <td colspan="2" align="center" class="ship">
                  <i></i>
                  <!-- <div >
                                  <img src="/assets/images/home/carro.fw.png" class="img-responsive" width="60%" height="30%">
                                </div> -->
                  <div style="margin-right: -570px; margin-top: -33px;">QUANTIDADE, PREVISÃO DE ENTREGA E VALORES</div>
                </td>
                <!-- <td class="productinfo" colspan="2" width="50%" align="left"> QUANTIDADE, PREVISÃO DE ENTREGA E VALORES</td> -->
              </tr>
              <tr class="btn-primary" align="center">
                <th>Quantidade</th>
                <th *ngFor="let itensMes of tblEntrega">
                  <div *ngFor="let itensMEsDesc of itensMes.DiaSemana">
                    <span>{{ itensMEsDesc.Semana }}</span>
                    <span>{{ itensMEsDesc.dia }}</span>
                    <span>{{ itensMEsDesc.Mes }}</span>
                  </div>
                </th>
              </tr>
              <tr *ngFor="let itens of tblEntrega">
                <td>
                  <span style="color: #000;">
                    <b>{{ itens. Quantidade }}</b>&nbsp;
                    <i>un</i>
                  </span>
                </td>
                <td *ngFor="let itensValor of itens.Valor; let i = index">
                  <div class="optselect"  [ngClass]="{'active': form.value.Valor == itensValor}">
                      <input type="radio" value="{{ itensValor }}" formControlName="Valor">
                      <div class="check"></div>
                      <label> R$ {{ itensValor }}<br><span class="un">R$0,66 / un</span></label>
                      
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <div *ngIf="tblFrete">
          <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="/assets/images/home/warning-icon-hi (1).png" width="20" height="20">&nbsp;
            <span class="btn-warning">Atenção! As entregas podem ocorrer entre 09:00 e 22:00. Certifique-se de que haverá alguém para receber seu produto.
            </span>
          </div>
        </div>
        <!-- <div class="title text-center">
          <br>
          <br>
          <a href="Config-Cartao-EnviarArte.html">
            <button type="submit" class="alert btn-info" [ngClass]="{'btnEnable': blEnviar, 'btnDisable': !blEnviar}" [disabled]="!form.valid">
              <span>Continuar</span>
            </button>
          </a>
        </div> -->
        
        <div *ngIf="tblFrete">
          <a href="#">
            <button class="alert btn-primary">
              <span>
                <i class="fa fa-plus-circle"></i>&nbsp;ADICIONAR OUTRA QUANTIDADE</span>
            </button>
          </a>
        </div>
        <br>
        <br>
        <section class="endbuttons" *ngIf="tblFrete">
            <ul>
              <div class="buttonright">
                <button type="submit" class="green add-to-cart" [ngClass]="{'btnEnable': blEnviar, 'btnDisable': !blEnviar}" [disabled]="!form.valid">
                  <span>Continuar</span>
                </button>
              </div>
            </ul>
          </section>

      </div>
    </div>
  </form>
</div>
<div id="apDiv1" class="navbar-default" *ngIf="blEnviar">
  <br>
  <span class="pnl-resumo-span">
    <b>Formato:</b>&nbsp;{{ form.value.Formato }}</span>
  <br>
  <span class="pnl-resumo-span">
    <b>Impressão:</b>&nbsp;{{ form.value.Impressao }}</span>
  <br>
  <span class="pnl-resumo-span">
    <b>Cores:</b>&nbsp;{{ form.value.Cores }}</span>
  <br>
  <span class="pnl-resumo-span">
    <b>Papel:</b>&nbsp;{{ form.value.Papel }}</span>
  <br>
  <span class="pnl-resumo-span">
    <b>Acabamento:</b>&nbsp;{{ form.value.Formato }}</span>
  <br>
  <span class="pnl-resumo-span">
    <b>Enobrecimento:</b>&nbsp;{{ form.value.Enobrecimento }}</span>
  <br>
  <span class="pnl-resumo-span">
    <b>Extras:</b>&nbsp;{{ form.value.Extras }}</span>
  <br>
  <!-- <span class="pnl-resumo-span"><b>Configurações Adicionais</b>&nbsp;{{ cartao.Formato }}</span> -->
  <br>
  <!-- <div class="alert-warning">
                                  <span class="h5 text-success">&nbsp;&nbsp;&nbsp;
                                    <img src="/assets/images/prepress_template/ai_large.png" width="16" height="18">&nbsp;&nbsp;
                                    <img src="/assets/images/prepress_template/psd_large.png" width="16" height="18">&nbsp; &nbsp;
                                    <a href="#" onclick="MM_openBrWindow('Gabaritocartao.html','Gabarito','scrollbars=yes,width=300,height=300')">Download Gabarito</a>
                                  </span>
                                </div> -->

</div>
<div id="apDiv2" class="Bgbranco">
  <div class="pnl-resumo">
    <h3>Resumo</h3>
  </div>
</div>
