
.btnEnable {
  color: red;
}

.btnDisable {
  background: #aaaaaa;
  color: #ffffff;
  border: none;
}

.pnl-resumo {
  padding-top: 5px;
  padding-left: 15px;
}

.pnl-resumo-span {
  padding-left: 15px;
  line-height: 20px;
  font-size: 14px;
}

.item-title {
  font-size: 25.6px!important;
  font-size: 1.6rem!important;
  margin: 12px 14px;
  display: block;
  font-weight: 700;
}

.input-formato {
  width: 2.0em;
  height: 2.0em;
  background-color: white;
  border-radius: 50%;
  vertical-align:middle;
  border: 2px solid #7396FF;
}
