
.btnEnable {
  color: red;
}

.btnDisable {
  background: #aaaaaa;
  color: #ffffff;
  border: none;
}

.pnl-resumo {
  padding-top: 5px;
  padding-left: 15px;
}

.pnl-resumo-span {
  padding-left: 15px;
  line-height: 20px;
  font-size: 14px;
}

.item-title {
  font-size: 25.6px!important;
  font-size: 1.6rem!important;
  margin: 12px 14px;
  display: block;
  font-weight: 700;
}

.input-formato {
  width: 2.0em;
  height: 2.0em;
  background-color: white;
  border-radius: 50%;
  vertical-align:middle;
  border: 2px solid #7396FF;
}

/* Ajuste do checkbox */
.settings .ulin {
  overflow: hidden;
}

.blk-in-1 {
  width: 245px;
  margin-right: 20px;
  border: 1px solid #dbdddf;
  width: 245px;
}

.box, .configure .box {
  width: 243px;
  height: 59px;
  border: 1px solid #dbdddf;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}

.cimpress-head .box div.opt, .configure .box div.opt {
  width: 242px;
}

.opt {
  position: absolute;
  bottom: 0;
  height: 58px;
  width: 243px;
  border-top: 1px solid #dbdddf;
  cursor: pointer;
}

.opt.active {
  background: #006ee3!important;
  color: #fff!important;
}

.opt:hover {
  background: #006ee3!important;
  color: #fff!important;
}

.box div.opt, .configure .box div.opt {
  position: absolute;
  bottom: 0;
  height: 58px;
  width: 243px;
  border-top: 1px solid #dbdddf;
  cursor: pointer;
}
.white {
  background: #fff;
}

ul {
  margin: 0;
  padding: 0;
}

.settings .ulin .blk-in-2 {
  font-size: 16px;
  font-family: Open Sans Regular;
  font-weight: 700;
}

.accordion .ttl, .options, li.custom-quantity-toggle {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  width: 93%;
}

.options .blk-in-2 {
  border: 1px solid #dbdddf;
  border-radius: 3px;
}

.blk-in-2 {
  width: 179px;
}

.blk-in-2 {
  margin-right: 12px;
  margin-bottom: 12px;
  border: 1px solid #dbdddf;
}

li {
  list-style: none;
  float: left;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}


.Qty-input.active, .box.active .opt, .entrega ul li.active, .entrega ul li.active .un, .extra-input.active, .optselect.active, button.active, li.quantidade ul li.active {
  background: #006ee3!important;
  color: #fff!important;
}

.optselect:hover, .settings .box:hover .opt {
  background: #006ee3!important;
  color: #fff!important;
}

.optselect {
  display: table;
  width: 180px;
  cursor: pointer;
}


.settings .ulin .blk-in-2 {
  font-size: 16px;
  font-family: Open Sans Regular;
  font-weight: 700;
}
/* Dando erro aqui */
input[type=radio] {
  /* visibility: hidden; */
  position: absolute;
}

button, input {
  -webkit-appearance: none!important;
}

input[type="radio" i] {
  margin: 10px 3px 0px 10px;
  border: none;
  background: transparent;
  border-radius: 99%;
  height: 34px;
  width: 34px;
}


input[type="radio" i] {
  -webkit-appearance: radio;
  box-sizing: border-box;
}

input[type="radio" i], input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  
  padding: initial;
  border: initial;
}

input, textarea, select, button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 13.3333px Arial;
}

input, textarea, select, button, meter, progress {
  -webkit-writing-mode: horizontal-tb;
}

.options .check {
  margin-top: 10px;
 }

.cadd .check, .matrix-mobile td div.check, .opt .check, .options .check {
  content: '';
  width: 34px;
  height: 34px;
  border: 1px solid #dbdddf;
  background: #fff;
  display: block;
  border-radius: 100%;
  margin-left: 10px;
  margin-top: 7px;
  margin-bottom: 10px;
  float: left;
  position: relative;
}

.check {
  width: 34px;
  height: 34px;
  border: 1px solid #dbdddf;
  background: #fff;
  display: block;
  border-radius: 100%;
  margin-top: 10px;
}


.active .check {
  background: url(/assets/images/sprites.png);
  background-position: -508px -129px;
  margin-top: 10px;
}

.check.inpt{
  margin-left: 10px;  
}


.configure .box div.opt label, .optselect label {
  cursor: pointer;
}

.configure .box div.opt label, .optselect label {
  cursor: pointer;
}

.box div.opt label, .configure .box div.opt label {
  position: relative;
  top: 17px;
  left: -30px;
  font-weight: 700;
  cursor: pointer;
}

.optselect label {
  display: table-cell;
  margin-left: 62px;
  margin-top: 11px;
  width: 120px;
  height: 58px;
  vertical-align: middle;
  position: relative;
  font-size: 22.4px!important;
  font-size: 1.4rem!important;
}

.div-central {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  width: 93%;
}

/* Configuração do CEP */
.cep-entrega {
  width: 761px; 
  height: 4.2em; 
  background-color: white;
  padding-left: 25px;
  margin-bottom: 20px;
}

.cep-entrega label {
  float: none;
  clear: both;
  display: block;
  /* height: 35px; */
  height: 12px;
}

.cep-entrega button {
  height: 44px;
  margin-left: 15px;
  width: 50px;
  margin-top: 1px;
  background: #36c265;
  color: #fff;
}

.local-retirada {
  text-align: left;
  padding: 1px 25px 20px;
}

.local-retirada select {
  border: 1px solid #dbdddf;
  border-radius: 5px;
  height: 45px;
}

/* Listagem dos tipos formatos e etc */

i.lupa {
  background: url(/assets/images/sprites.png);
  width: 29px;
  height: 30px;
  background-position: -477px 89px;
  margin-left: 73px;
  margin-top: 75px;
  position: absolute;
  display: none;
}

.option-image img {
  max-width: 179px;
  max-height: 179px;
}

.image {
  background: #fff;
  height: 150px;
  position: relative;
}

/* Matrix table */
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #fff;
  border-radius: 4px;
}

.ship i {
  width: 75px;
  height: 49px;
  display: block;
  background: url(/assets/images/sprites.png);
  background-position: -165px -40px;
  margin: 0 auto;
  position: relative;
  top: 14px;
}
