<br>
<section class="container">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="Cartao.html">Cartão de Visita</a>
        </li>
        <li class="active">Configurar</li>
      </ol>
    </div>
    <!--INICIO -->
    <div class="col-sm-12">

      <table width="100%" cellspacing="6" cellpadding="0" border="0">
        <tbody>
          <tr>
            <td>
              <!-- CONFIGURACAO DO CARTAO -->
              <div class="features_items">
                <div class="">
                  <h3 class="col-lg-6">&nbsp;&nbsp;&nbsp;
                    <img src="/assets/images/home/um.jpg" width="40" height="40">&nbsp;ESCOLHA A FORMA DE CRIAR SEU PRODUTO</h3>
                </div>
                <div class="&nbsp;">&nbsp;</div>
              </div>
              <div id="apDiv1" class="navbar-default">
                <br>
                <span>&nbsp;&nbsp;&nbsp;Formato:</span>
                <br>
                <span>&nbsp;&nbsp;&nbsp;Impressão:</span>
                <br>
                <span>&nbsp;&nbsp;&nbsp;Cores:</span>
                <br>
                <span>&nbsp;&nbsp;&nbsp;Papel:</span>
                <br>
                <span>&nbsp;&nbsp;&nbsp;Acabamento:</span>
                <br>
                <span>&nbsp;&nbsp;&nbsp;Enobrecimento:</span>
                <br>
                <span>&nbsp;&nbsp;&nbsp;Extras:</span>
                <br>
                <span>&nbsp;&nbsp;&nbsp;Configurações Adicionais</span>
                <br>
                <div class="alert-warning">
                  <span class="h5 text-success">&nbsp;&nbsp;&nbsp;
                    <img src="/assets/images/prepress_template/ai_large.png" width="16" height="18">&nbsp;&nbsp;
                    <img src="/assets/images/prepress_template/psd_large.png" width="16" height="18">&nbsp; &nbsp;
                    <a href="#" onclick="MM_openBrWindow('Gabaritocartao.html','Gabarito','scrollbars=yes,width=300,height=300')">Download Gabarito</a>
                  </span>
                </div>

              </div>
              <div id="apDiv2" class="Bgbranco" align="center">
                <h2>Resumo</h2>

              </div>
              <!-- INICIO DAS OPCOES -->
              <div class="&nbsp;">&nbsp;</div>
              <div id="contact-page" class="container">
                <div class="row">
                  <div class="col-sm-9">
                    <div class="contact-form">
                      <table class="header-bottom table-condensed" width="100%" cellspacing="6" cellpadding="0" border="0">
                        <tbody>
                          <tr>
                            <td class="alert-success">
                              <h3 class="text-info">
                                <img src="/assets/images/home/okverde.fw.png" width="81" height="68">ESCOLHA COMO MONTAR SEU CARTÃO</h3>
                            </td>
                          </tr>
                          <tr>
                            <td class="well" align="center">
                              <form action="#" method="post">
                                <div class="col-sm-4">
                                  <!--features_items-->
                                  <div>&nbsp;</div>
                                  <div align="center">
                                    <img src="/assets/images/home/Enviar.fw.png">
                                    <div class="brands_products">
                                      <span class="h4">
                                        <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " onclick="nuevapagina('contrato.html')" type="radio"> Enviar minha arte</span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-sm-4">
                                  <div>&nbsp;</div>
                                  <div align="center">
                                    <img src="/assets/images/home/online.fw.png">
                                    <div class="brands_products">
                                      <span class="h4">
                                        <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " onclick="nuevapagina('contrato.html')" type="radio"> Criar On-line</span>
                                    </div>
                                  </div>
                                </div>
                                <div>
                                  <div>&nbsp;</div>
                                  <div align="center">
                                    <img src="/assets/images/home/Cdesinger.fw.png">
                                    <div class="brands_products">
                                      <span class="h4">
                                        <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " onclick="nuevapagina('contrato.html')" type="radio"> Contratar Criação</span>
                                    </div>
                                  </div>
                                </div>

                              </form>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- FIM DAS OPCOES -->
              <div class="&nbsp;">&nbsp;</div>
              <div align="left">
                <br>
                <h3>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <img src="/assets/images/home/dois.jpg" width="40" height="40">&nbsp; SELECIONE AS OPÇÕES
                </h3>
              </div>
              <div class="&nbsp;">&nbsp;</div>
              <div id="contact-page" class="container">
                <div class="row">
                  <div class="col-sm-9">
                    <div class="contact-form">
                      <table class="header-bottom  table-condensed" width="100%" cellspacing="6" cellpadding="0" border="0">
                        <tbody>
                          <tr>
                            <td class="alert-success">
                              <h3 class="text-info">
                                <img src="/assets/images/home/okverde.fw.png" width="81" height="68">FORMATO</h3>
                            </td>
                          </tr>
                          <tr>
                            <td class="Bgbranco">
                              <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                  <div class="">
                                    <div class="text-center">
                                      <img src="/assets/images/home/9050.jpg" alt="">
                                      <span class="text-center text-info h4">
                                        <input style="width: 2.0em; height: 2.0em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio"> &nbsp;90 x 50 mm</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                  <div class="single-products">
                                    <div class="text-center">
                                      <img src="/assets/images/home/5050.jpg" alt="">
                                      <span class="text-center text-info h4">
                                        <input style="width: 2.0em; height: 2.0em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio"> &nbsp;50 x 50 mm </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                  <div class="single-products">
                                    <div class="text-center">
                                      <img src="/assets/images/home/8555.jpg" alt="">
                                      <span class="text-center text-info h4">
                                        <input style="width: 2.0em; height: 2.0em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio"> &nbsp;85 x 55 mm </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                  <div class="single-products">
                                    <div class="text-center">
                                      <img src="/assets/images/home/8050.jpg" alt="">
                                      <span class="text-center text-info h4">
                                        <input style="width: 2.0em; height: 2.0em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " value="" type="radio"> &nbsp;80 x 50 mm </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                  <div class="single-products">
                                    <div class="text-center">
                                      <img src="/assets/images/home/8555.jpg" alt="">
                                      <span class="text-center text-info h4">
                                        <input style="width: 2.0em; height: 2.0em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " value="" type="radio"> &nbsp; Personalizar </span>
                                    </div>
                                  </div>
                                </div>
                              </div>

                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="&nbsp;">&nbsp;</div>
              <div id="contact-page" class="container">
                <div class="row">
                  <div class="col-sm-9">
                    <div class="contact-form">
                      <table class="header-bottom  table-condensed" width="100%" cellspacing="6" cellpadding="0" border="0">
                        <tbody>
                          <tr>
                            <td class="alert-success">
                              <h3 class="text-info">
                                <img src="/assets/images/home/okverde.fw.png" width="81" height="68">IMPRESSÃO</h3>
                            </td>
                          </tr>
                          <tr>
                            <td class="Bgbranco">
                              <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                  <div class="text-center">
                                    <div class="text-center">
                                      <img src="/assets/images/home/fbcard-frente.jpg" alt="">
                                      <span class="text-center text-info h4">
                                        <input style="width: 2.0em; height: 2.0em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " value="" type="radio"> &nbsp; Frente </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                  <div class="single-products">
                                    <div class="text-center">
                                      <img src="/assets/images/home/fbcard-frenteverso.jpg" alt="">
                                      <span class="text-center text-info h4">
                                        <input style="width: 2.0em; height: 2.0em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " value="" type="radio"> &nbsp; Frente e Verso </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="&nbsp;">&nbsp;</div>
              <div id="contact-page" class="container">
                <div class="row">
                  <div class="col-sm-9">
                    <div class="contact-form">
                      <table class="header-bottom  table-condensed" width="100%" cellspacing="6" cellpadding="0" border="0">
                        <tbody>
                          <tr>
                            <td class="alert-success">
                              <h3 class="text-info">
                                <img src="/assets/images/home/okverde.fw.png" width="81" height="68">PAPEL</h3>
                            </td>
                          </tr>
                          <tr>
                            <td class="Bgbranco">
                              <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                  <div class="text-center">
                                    <div class="text-center">
                                      <img src="/assets/images/home/240g.jpg" alt="">
                                      <span class="text-center text-info h4">
                                        <input style="width: 2.0em; height: 2.0em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " value="" type="radio"> &nbsp;Offset 240g </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                  <div class="single-products">
                                    <div class="text-center">
                                      <img src="/assets/images/home/240gg.jpg" alt="">
                                      <span class="text-center text-info h4">
                                        <input style="width: 2.0em; height: 2.0em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " value="" type="radio"> &nbsp;Reciclato 240g </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                  <div class="single-products">
                                    <div class="text-center">
                                      <img src="/assets/images/home/250.jpg" alt="">
                                      <span class="text-center text-info h4">
                                        <input style="width: 2.0em; height: 2.0em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " value="" type="radio"> &nbsp;Couché Brilho 250g </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                  <div class="single-products">
                                    <div class="text-center">
                                      <img src="/assets/images/home/250fg.jpg" alt="">
                                      <span class="text-center text-info h4">
                                        <input style="width: 2.0em; height: 2.0em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " value="" type="radio"> &nbsp;Couché Fosco 250g </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                  <div class="single-products">
                                    <div class="text-center">
                                      <img src="/assets/images/home/250fg.jpg" alt="">
                                      <span class="text-center text-info h4">
                                        <input style="width: 2.0em; height: 2.0em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " value="" type="radio"> &nbsp; Couché Brilho 300g </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                  <div class="single-products">
                                    <div class="text-center">
                                      <img src="/assets/images/home/250fg.jpg" alt="">
                                      <span class="text-center text-info h4">
                                        <input style="width: 2.0em; height: 2.0em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " value="" type="radio"> &nbsp;Couché Fosco 300g </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                  <div class="single-products">
                                    <div class="text-center">
                                      <img src="/assets/images/home/250fg.jpg" alt="">
                                      <span class="text-center text-info h4">
                                        <input style="width: 2.0em; height: 2.0em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " value="" type="radio"> &nbsp;Couché Brilho 350g </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                  <div class="single-products">
                                    <div class="text-center">
                                      <img src="/assets/images/home/250fg.jpg" alt="">
                                      <span class="text-center text-info h4">
                                        <input style="width: 2.0em; height: 2.0em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " value="" type="radio"> &nbsp;Couché Fosco 350g </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                  <div class="single-products">
                                    <div class="text-center">
                                      <img src="/assets/images/home/250fg.jpg" alt="">
                                      <span class="text-center text-info h4">
                                        <input style="width: 2.0em; height: 2.0em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " value="" type="radio"> &nbsp; Silverprint 330g </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="&nbsp;">&nbsp;</div>
              <div id="contact-page" class="container">
                <div class="row">
                  <div class="col-sm-9">
                    <div class="contact-form">
                      <table class="header-bottom  table-condensed" width="100%" cellspacing="6" cellpadding="0" border="0">
                        <tbody>
                          <tr>
                            <td class="alert-success">
                              <h3 class="text-info">
                                <img src="/assets/images/home/okverde.fw.png" width="81" height="68">ENOBRECIMENTO</h3>
                            </td>
                          </tr>
                          <tr>
                            <td class="Bgbranco">
                              <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                  <div class="text-center">
                                    <div class="text-center">
                                      <img src="/assets/images/home/laminacaofosca.jpg" alt="">
                                      <span class="text-center text-info h4">
                                        <input style="width: 2.0em; height: 2.0em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " value="" type="radio"> &nbsp;Laminação Fosca </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                  <div class="single-products">
                                    <div class="text-center">
                                      <img src="/assets/images/home/laminacaobrilho.jpg" alt="">
                                      <span class="text-center text-info h4">
                                        <input style="width: 2.0em; height: 2.0em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " value="" type="radio"> &nbsp;Laminação Brilho </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                  <div class="single-products">
                                    <div class="text-center">
                                      <img src="/assets/images/home/verniztotal.jpg" alt="">
                                      <span class="text-center text-info h4">
                                        <input style="width: 2.0em; height: 2.0em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " value="" type="radio"> &nbsp;Verniz UV Total </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                  <div class="single-products">
                                    <div class="text-center">
                                      <img src="/assets/images/home/soft-touch.jpg" alt="">
                                      <span class="text-center text-info h4">
                                        <input style="width: 2.0em; height: 2.0em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " value="" type="radio"> &nbsp;Laminação Soft Touch </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="&nbsp;">&nbsp;</div>
              <div id="contact-page" class="container">
                <div class="row">
                  <div class="col-sm-9">
                    <div class="contact-form">
                      <table class="header-bottom  table-condensed" width="100%" cellspacing="6" cellpadding="0" border="0">
                        <tbody>
                          <tr>
                            <td class="alert-success">
                              <h3 class="text-info">
                                <img src="/assets/images/home/okverde.fw.png" width="81" height="68">EXTRAS</h3>
                            </td>
                          </tr>
                          <tr>
                            <td class="Bgbranco">
                              <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                  <div>
                                    <div class="text-center">
                                      <img src="/assets/images/home/laminacaofosca.jpg" alt="">
                                      <span class="text-center text-info h4">
                                        <input style="width: 2.0em; height: 2.0em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " value="" type="radio"> &nbsp;Sem Extras </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                  <div class="single-products">
                                    <div class="img-responsive text-center">
                                      <img src="/assets/images/home/verniztotal.jpg" alt="">
                                      <span class="text-center text-info h4">
                                        <input style="width: 2.0em; height: 2.0em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " value="" type="radio"> &nbsp;Laminação Brilho </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- INICIO DO CALCULO DO PRAZO E FRETE -->
              <div class="&nbsp;">&nbsp;</div>
              <div>
                <br>
                <h3>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <img src="/assets/images/home/tres.jpg" width="40" height="40"> CALCULE O FRETE E A PREVISÃO DE ENTREGA
                </h3>
              </div>
              <div class="&nbsp;">&nbsp;</div>
              <div id="contact-page" class="container">
                <div class="row">
                  <div class="col-sm-9">
                    <div class="contact-form">
                      <table class="header-bottom table-condensed" width="100%" cellspacing="6" cellpadding="0" border="0">
                        <tbody>
                          <tr>
                            <td class="alert-success">
                              <h3 class="text-info">
                                <img src="/assets/images/home/okverde.fw.png" width="81" height="68">FRETE E O PRAZO DE ENTREGA</h3>
                            </td>
                          </tr>
                          <tr>
                            <td class="Bgbranco">
                              <div class="features_items" align="center">
                                <h2>
                                  <input style="width: 2.0em; height: 2.0em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " value="" type="radio">
                                  <label>
                                    <span class="text-center text-info h3"> Entrega</span>
                                  </label>

                                  <input style="width: 2.0em; height: 2.0em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " value="" type="radio">
                                  <label>
                                    <span class="text-center text-info h3">Retira</span>
                                  </label>
                                </h2>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="Bgbranco" align="center">
                              <h3>
                                Pesquise o CEP
                                <input style="width: 10.8em; height: 4.2em; background-color: white;" type="text">&nbsp;&nbsp;
                                <input name="ok" class="btn-info alert" value="ok" type="button">
                              </h3>
                            </td>
                          </tr>
                          <tr align="center">
                            <td class="Bgbranco">
                              <div class="features_items" align="center">
                                <span class="text-center text-info h3">
                                  ESCOLHA UM LOCAL PARA RETIRADA!
                                  <select>
                                    <option value="br">Brasilia</option>
                                    <option value="sp">Sao paulo</option>
                                    <option value="rj">Rio de janeiro</option>
                                    <option value="ct">Curitiba</option>
                                  </select>
                                </span>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div>&nbsp;</div>
              <!-- INICIO DA TABELA DE PRECOS -->
              <div class="col-sm-9">
                <form name="form1" method="post" action="">
                  <table class="breadcrumb" width="100%" height="550" cellspacing="15" cellpadding="15">
                    <tbody>
                      <tr class="">
                        <td colspan="2" align="center">
                          <img src="/assets/images/home/carro.fw.png" class="img-responsive" width="60%" height="30%">
                        </td>
                        <td class="productinfo" width="19%" align="right">QUANTIDADE, PREVISÃO</td>
                        <td class="productinfo" width="21%" align="left"> DE ENTREGA E VALORES</td>
                        <td class="productinfo" width="23%"></td>
                        <td class="productinfo" width="2%" hidden="yes"></td>
                      </tr>
                      <tr class="btn-primary" align="center">
                        <td class="productinfo" width="17%">
                          <h3>Quantidade</h3>
                        </td>
                        <td class="productinfo table-hover" width="18%">
                          <h3>terça-feira</h3>
                          <br>07 nov</td>
                        <td class="productinfo  table-hover">
                          <h3>terça-feira</h3>
                          <br>07 nov</td>
                        <td class="productinfo  table-hover">
                          <h3>terça-feira</h3>
                          <br>07 nov</td>
                        <td class="productinfo  table-hover">
                          <h3>terça-feira</h3>
                          <br>07 nov</td>
                      </tr>
                      <tr class="table-hover">
                        <td>100&nbsp;un</td>
                        <td class="animated">
                          <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 90%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                        <td class=" table-hover">
                          <input id="roundedOne" style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                        <td class=" table-hover">
                          <input id="roundedOne" style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                        <td class=" table-hover">
                          <input id="roundedOne" style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                      </tr>
                      <tr class="shipping label-success">
                        <td class="text-info table-hover">250 un</td>
                        <td class="text-info table-hover">
                          <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                        <td class="text-info table-hover">
                          <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                        <td class="text-info table-hover">
                          <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF;" type="radio">
                          <label for="radio"></label>
                        </td>
                        <td class="text-info table-hover">
                          <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                      </tr>
                      <tr>
                        <td>500 un</td>
                        <td class=" table-hover">
                          <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                        <td class=" table-hover">
                          <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                        <td class=" table-hover">
                          <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                        <td class=" table-hover">
                          <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                      </tr>
                      <tr class="shipping label-success">
                        <td class="text-info">1.000 un</td>
                        <td class="text-info table-hover">
                          <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                        <td class="text-info table-hover">
                          <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                        <td class="text-info table-hover">
                          <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                        <td class="text-info table-hover">
                          <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                      </tr>
                      <tr>
                        <td>2.500 un</td>
                        <td class=" table-hover">
                          <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                        <td class=" table-hover">
                          <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                        <td class=" table-hover">
                          <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                        <td class=" table-hover">
                          <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                      </tr>
                      <tr class="shipping label-success">
                        <td class="text-info table-hover">5.000 un</td>
                        <td class="text-info table-hover">
                          <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                        <td class="text-info table-hover">
                          <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                        <td class="text-info">
                          <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                        <td class="text-info table-hover">
                          <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                      </tr>
                      <tr>
                        <td class="table-hover">10.000 un</td>
                        <td class="table-hover">
                          <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                        <td class="table-hover">
                          <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                        <td class="table-hover">
                          <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                        <td class="table-hover">
                          <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                      </tr>
                      <tr class="shipping label-success">
                        <td class="text-info table-hover">20.000 un</td>
                        <td class="text-info table-hover">
                          <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                        <td class="text-info table-hover">
                          <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                        <td class="text-info table-hover">
                          <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                        <td class="text-info table-hover">
                          <input style="width: 2.3em; height: 2.3em; background-color: white; border-radius: 50%;vertical-align:middle;
  border: 2px solid #7396FF; " type="radio">
                          <label for="radio"></label>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </form>
              </div>
              <br>
              <br>
            </td>
          </tr>
          <tr>
            <td>
              <div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/assets/images/home/warning-icon-hi (1).png" width="20" height="20">&nbsp;
                <span class="btn-warning">Atenção! As entregas podem ocorrer entre 09:00 e 22:00. Certifique-se de que haverá alguém para receber seu
                  produto.
                </span>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="title text-center">
                <br>
                <br>

                <a href="Config-Cartao-EnviarArte.html">
                  <button class="alert btn-info">
                    <span>Continuar</span>
                  </button>
                </a>
              </div>
              <div>
                <a href="#">
                  <button class="alert btn-primary">
                    <span>
                      <i class="fa fa-plus-circle"></i>&nbsp;ADICIONAR OUTRA QUANTIDADE</span>
                  </button>
                </a>
              </div>
              <a href="#">
              </a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <!-- FIM  -->
  </div>
</section>
