<br>
<section class="container">
  <div class="col-sm-12">
    <table width="100%" border="0" cellspacing="6" cellpadding="0">
      <tr>
        <td align="center">
          &nbsp;
        </td>
      </tr>
      <tr>
        <td align="center">
          <div class="well img-rounded h5 text-muted" align="justify ">
                  <ul>
                   <li class="title h1 text-muted ">
                           TERMOS DE SERVIÇO E USO DO SITE
                   </li>
                   <li>
                   <h2>OBJETO:</h2>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>1)</b>O objeto do presente instrumento consiste em estabelecer a política e regulamento para o acesso do SITE; para o cliente que faça o cadastro; para que efetue as compras, através do SITE, de serviços de impressão digital, de pré-impressão, de produtos personalizados com impressão terceirizada; confirma a posse de direito de propriedade; estabelece regras quanto a possíveis indenizações; quanto à rescisão; sobre modificação dos termos do serviço, condições gerais e cobertura da garantia, bem como dicas de segurança.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <h2>DO CADASTRO NO SITE:</h2>
                   <p><b>2)</b>Para os Contratantes que acessarem o SITE, a CARTÃO AQUI, além das diversas informações contidas no SITE, oferecerá a prestação de serviços de impressão digital.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>3)</b>O SITE poderá ser acessado por pessoas físicas ou jurídicas. Com relação às pessoas físicas, para realizar a contratação de qualquer tipo de serviço, o Contratante deverá ter a idade superior a 18 (dezoito) ano, ou, caso seja menor, estes deverão estar representados por seus pais, tutores ou responsáveis.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>4)</b>O SITE poderá ser utilizado por pessoas físicas ou jurídicas, nacionais (brasileiros) ou estrangeiros, ficando claro que, por ser o negócio realizado em território nacional, vale a legislação vigente no País, para dirimir os casos de dúvidas ou conflitos.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>5)</b>O acesso e a visitação à página inicial do SITE, bem como a outras páginas serão realizadas sem qualquer necessidade de cadastro e senha. Entretanto, para a compra de serviços, é necessário que o Contratante preencha o CADASTRO e forneça seus dados cadastrais, sendo que este contrato se inicia com a compra dos serviços, por meio do SITE.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>6)</b>A CARTÃO AQUI, periodicamente, fará verificações nos cadastros e excluirá os cadastros que contenham informações incorretas ou notadamente falsas, ficando o Contratante ciente deste procedimento.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>7)</b>O Contratante, em conformidade com os Termos de Serviço e Uso do Site, contidos neste documento, se obriga a fornecer informações verdadeiras, exatas, atuais e completas sobre si mesmo, preenchimento do registro no formulário específico para acesso ao serviço digital, bem como a conservar e atualizar imediatamente tais informações de registro para mantê-las verdadeiras, exatas, atuais e completas.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>8)</b>O Contratante desde já declara, sob as penas da lei, que todos os dados fornecidos são verdadeiros.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>9)</b>O Contratante fica ciente de que o acesso ou a contratação dos serviços do SITE, através do seu endereço de email ou nome do usuário e senha, implica automaticamente que o Contratante está assumindo todas as responsabilidades pelo seu uso</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>10)</b>Se qualquer informação fornecida pelo Contratante for falsa, incorreta, desatualizada ou incompleta, ou caso a CARTÃO AQUI tenha razões suficientes e fundamentadas para suspeitar que tais informações sejam falsas, incorretas, desatualizadas ou incompletas, a CARTÃO AQUI terá o direito de suspender ou cancelar imediatamente, independente de notificação, a solicitação de compra do serviço do Contratante, bem como qualquer futura contratação de serviço ou parte dele.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>11)</b>O Contratante deverá informar seu próprio endereço eletrônico a ser utilizado no SITE e recebimento de mensagens advindas de seu cadastro no referido SITE. O Contratante será inteiramente responsável por qualquer atividade que ocorra no âmbito de seu cadastro. O endereço eletrônico informado pelo Contratante será utilizado para sua identificação.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>12)</b>O Contratante se obriga a notificar imediatamente a CARTÃO AQUI sobre qualquer uso não autorizado de seu login no SITE (identificação do Contratante para acesso ao SITE mediante o preenchimento de seu endereço eletrônico pessoal ou nome de usuário e senha) ou qualquer quebra de segurança de seu conhecimento. Concorda também em não deixar seu cadastro pessoal aberto no computador após entrar com seu endereço eletrônico no SITE, evitando, assim, o uso desautorizado por terceiros. mediante ordem judicial ou por força de lei.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p> <b>13)</b>Faz parte da política da CARTÃO AQUI respeitar a privacidade de seus Contratantes. O SITE não irá, portanto, monitorar, editar, acessar ou divulgar informações privativas de seus Contratantes sem autorização prévia, exceto nos casos expressamente previstos nos termos do presente ou a menos que a CARTÃO AQUI seja obrigada a fazê-lo mediante ordem judicial ou por força de lei.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>14)</b>O cadastro do Contratante no SITE é gratuito.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>15)</b>O Contratante, juridicamente capaz, poderá solicitar a compra de serviços digitais através do SITE.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>16)</b>O Contratante deverá efetuar seu próprio cadastro no SITE, responsabilizando-se pela correção e veracidade dos dados informados e deverá manter o ambiente de seu computador seguro, com uso de ferramentas disponíveis como anti-virus e firewall, entre outras, atualizadas, de modo a contribuir na prevenção de riscos eletrônicos de sua parte.</p>
                   </li>
                   <li>
                   <h2>DOS PREÇOS E ENTREGA DOS PRODUTOS:</h2>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>17)</b>Os serviços serão entregues no endereço fornecido pelo Contratante, no momento do pedido dos serviços, sendo que será cobrado o valor do frete.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>18)</b>No momento da confirmação do pedido será informado o valor total do serviço e o valor do frete, caso haja, e é este o valor que é considerado válido para fins das obrigações assumidas e estabelecidas na contratação.</p>
                   </li>
                   <li>
                   <h2>DA UTILIZAÇÃO E RESPONSABILIDADES PELOS DADOS:</h2>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>19)</b>Concomitantemente à confirmação do pedido será gerada a forma de pagamento para os serviços adquiridos pelo Contratante.   </p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>20)</b>O prazo para pagamento será sempre à vista para modalidade de boleto bancário e débito em conta, podendo ser à vista ou a prazo (quando aplicável) para a modalidade de pagamento através de cartão de crédito. O serviço e a sua entrega somente serão efetuados após a confirmação do pagamento. Caso o pagamento não seja efetuado ou a transação seja recusada por qualquer motivo que seja, o pedido em questão será cancelado. Uma vez efetuado o pagamento, o Contratante deverá anexar o arquivo do objeto do serviço.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>21)</b>O prazo para produção dos serviços solicitados será aquele constante no momento que o pedido foi liberado para produção, após a confirmação do pagamento e do correto envio do arquivo pelo Contratante. O prazo de frete não está incluso no prazo de produção e corre por conta e risco do Contratante.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>22)</b> A entrega será efetuada pelos Correios ou por transportador particular, preferencialmente em dias úteis e no horário das 09:00 às 22:00, a depender do tipo de transporte. A entrega será efetuada para o Contratante ou para outra pessoa que estiver no endereço indicado pelo Contratante para receber, desde que não tenha sido desautorizada expressamente pelo Contratante. O protocolo no canhoto da nota fiscal servirá como comprovação da entrega dos serviços conforme solicitado. </p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>23)</b>O Contratante deverá preencher corretamente os dados para entrega a fim de evitar atrasos.</p>
                   </li>
                   <li>
                   <h2>DIREITOS E RESPONSABILIDADES DA CARTÃO AQUI:</h2>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>24)</b>A CARTÃO AQUI reserva-se o direito de, a qualquer momento realizar promoções para a venda de seus serviços. As promoções serão sempre por prazo determinado e poderão ser canceladas a qualquer tempo, a critério da CARTÃO AQUI.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>25)</b>Após efetuado o pagamento do serviço solicitado, o Contratante não mais poderá desistir da sua realização, vez que o serviço é personalizado e destinado especialmente a ele, motivo pelo qual, vindo a desistir do serviço, não haverá devolução da quantia paga. Caso a produção do serviço não tenha sido iniciada, será gerado um bônus da quantia paga, descontadas eventuais despesas realizadas, a ser utilizado em outro serviço pelo Contratante.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>26)</b>Qualquer problema com os serviços solicitados deverá ser resolvido pelo Contratante, diretamente com a CARTÃO AQUI. O Contratante reconhece e tem total ciência de que o SITE constitui-se em um mero instrumento divulgador do serviço, onde se disponibilizam informações para realização desta operação comercial.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>27)</b>A CARTÃO AQUI reserva-se o direito de não realizar serviços cujos arquivos contenham conteúdo pornográfico, discriminatório, profano, ofensivo, que atentem à moral e aos bons costumes, bem como outros que, a seu critérios possam gerar ações indenizatórias ou prejudicar terceiros, ou que se constituam em crime ou contravenção penal.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>28)</b> Contratante fica ciente e autoriza, quando da realização do pedido, que a CARTÃO AQUI possa efetuar cópias dos arquivos enviados por ele, sempre que necessário para a realização dos trabalhos e cumprimento da sua obrigação. A CARTÃO AQUI tomará os cuidados normais para que os arquivos digitais, enviadas pelo Contratante não sejam acessados ou divulgados por terceiros ou para terceiros. Entretanto, o Contratante reconhece que durante o envio deste arquivo o mesmo pode estar sujeito a interceptação por terceiros ou ação de “hackers”, hipótese na qual a CARTÃO AQUI não poderá ser responsabilizada por tratar-se de caso fortuito.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>29)</b> A responsabilidade da CARTÃO AQUI está limitada somente à realização do serviço, à produção do mesmo dentro do prazo e nas condições acordadas, com o padrão de qualidade acordado. A CARTÃO AQUI não responderá por quaisquer outras despesas quer sejam diretas ou indiretas, incluindo aqui perdas e danos, honorários, indenizações etc.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>30)</b> O Contratante terá o dever de cuidar para que os arquivos enviados estejam em total conformidade técnica com as dicas especiais constantes nas páginas do SITE e que é responsabilidade do Contratante o preparo dos arquivos e a conferência das especificações técnicas.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>31)</b>O Contratante reconhece e concorda que o conteúdo, incluindo, sem limitação, textos, programas de software, musicas, sons, fotografias, gráficos, vídeos ou outros materiais contidos em propagandas disponíveis no serviço oferecido, bem como as informações divulgadas ao Contratante através do serviço ou de anunciantes, podem estar protegidos por direitos autorais, de imagens, marcas, patentes ou outros direitos de propriedade intelectual e legislação aplicável.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>32)</b>O Contratante reconhece e concorda que somente poderá utilizar tais materiais e informações conforme expressamente autorizado pelos anunciantes ou por quem de direito para fazê-lo, e não poderá copiar, reproduzir, transmitir, distribuir ou criar obras derivadas a partir de tais materiais ou informações sem autorização expressa do respectivo proprietário.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>33)</b>O Contratante isenta a CARTÃO AQUI, seus diretores e empregados, de quaisquer perdas, despesas, danos, reclamações ou reivindicações, incorridos por quaisquer terceiros ou sofridos pela CARTÃO AQUI com relação ou em decorrência de qualquer uso ou transmissão que ocorra sob endereço eletrônico e senha do Contratante (login do Contratante no SITE) e que viole os termos do serviço oferecido/solicitado, quaisquer leis ou regulamentos locais, nacionais ou internacionais aplicáveis, ou quaisquer direitos de terceiros, sem prejuízo de eventuais indenizações decorrentes.</p>
                   </li>
                   <li>
                   <h2>DA RESCISÃO:</h2>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>34)</b>A CARTÃO AQUI poderá cancelar o acesso dos Contratantes aos serviços oferecidos como um todo ou a qualquer parte deste, a qualquer momento, com ou sem motivo, com ou sem aviso prévio, a critério exclusivo da CARTÃO AQUI.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>35)</b>Se o Contratante desejar encerrar seu cadastro, simplesmente deverá enviar um email para o endereço de suporte da CARTÃO AQUI, sendo que esta não será responsável por manter qualquer conteúdo vinculado ao cadastro do Contratante.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>36)</b>A CARTÃO AQUI reserva-se o direito de modificar ou descontinuar os serviços oferecidos, independentemente de notificação ao Contratante, antes da contratação dos serviços. </p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>37)</b>A CARTÃO AQUI poderá enviar avisos de promoções e informações sobre novos serviços etc. Esta comunicação poderá ser feita por mala direta, contato telefônico, contato no celular, envio de email, envio de SMS, envio de MMS, e outras formas que venham a ser criadas ou disponibilizadas.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>38)</b>A CARTÃO AQUI poderá eventualmente modificar os termos do serviço oferecido, sendo o Contratante notificado através das especificações técnicas de cada produto. A contratação do serviço pelo Contratante após tais modificações, será entendida como concordância com a modificação efetuada. </p>
                   </li>
                   <li>
                   <h2>DA UTILIZAÇÃO E RESPONSABILIDADES PELOS DADOS:</h2>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>39)</b>As informações prestadas pelo Contratante necessárias para a contratação dos serviços serão utilizadas apenas para os fins de cadastros, legais, tributários e objeto do presente instrumento, de modo que a CARTÃO AQUI se compromete a não utilizar destas para quaisquer fins, como ainda de não divulgá-las ao público em geral, a não ser por determinação judicial.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>40)</b>Entretanto, para fins estatísticos, a CARTÃO AQUI poderá utilizar as informações fornecidas pelo Contratante, bem como o modo, fins e horários de utilização dos serviços e produtos disponibilizados pelo SITE. </p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>41)</b>Em caso de alteração de qualquer um dos dados cadastrais informados pelo Contratante, estes deverão ser atualizados de imediato, ou estará o Contratante responsável por danos ou prejuízos que venham a ser causados à CARTÃO AQUI ou a terceiros pela falta de atualização de seu cadastro junto a mesma, que pode implicar em entrega errada, não realização da entrega, entre outros.  </p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>42)</b>O Contratante responderá civil e criminalmente e pelos danos morais e materiais ou por qualquer prejuízo que venha a causar à CARTÃO AQUI, em decorrência do não cumprimento ou do cumprimento irregular do presente instrumento, bem como por quaisquer danos que venha a causar a terceiros, por ato ou fato resultante da utilização em desacordo com os termos deste instrumento, ou declaração falsa que utilize.</p>
                   </li>
                   <li>
                   <h2>POLÍTICA DE TROCAS E DEVOLUÇÕES:</h2>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>43)</b>A tolerância do eventual descumprimento de quaisquer das cláusulas e condições do presente contrato não constituirá novação das obrigações aqui estipuladas e tampouco impedirá ou inibirá a exigibilidade das mesmas a qualquer tempo.  </p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>44)</b>A CARTÃO AQUI não será responsabilizada, caso o conteúdo dos arquivos enviados estejam com problemas de correção dos textos, nomes, telefones, erros ortográficos e outros itens que compõem a arte, bem como não seguir as dicas de qualidade informadas no SITE, para que a produção esteja perfeita e o trabalho não seja perdido.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>45)</b>A CARTÃO AQUI assegura a reimpressão dos arquivos enviados, nos casos em que se comprovem defeitos exclusivos no processo de impressão. O cliente poderá solicitar a substituição dos produtos que julgar com defeito, respeitadas as variações decorrentes do processo de produção e impressão das gráficas, conforme o artigo 18 do Código de Defesa do Consumidor.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>46)</b> A CARTÃO AQUI não garante fidelidade de cores em nenhuma hipótese. Os impressos poderão apresentar variação de intensidade e tonalidade das cores, em relação ao monitor ou à prova impressa, bem como em relação às reimpressões. Os impressos poderão apresentar variação de tonalidade e/ou intensidade dentro do mesmo lote, não caracterizando defeito de impresso, os desvios de cores entre duas ou mais ordens, em comparação com uma ordem antiga, entre folhas soltas, os limites de tolerância nos cortes ou dobras, os formatos acabados, em todos os materiais, de 3mm de variação máxima.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>47)</b>Poderá ocorrer variação de até 10% nas cores entre os primeiros e últimos impressos do mesmo arquivo no mesmo lote, não caracterizando defeito de impressão.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>48)</b>Todos os pedidos são impressos com até 10% de variação, para mais ou para menos, sendo efetuada uma triagem manual para remoção da maioria dos impressos defeituosos. Eventualmente algumas unidades de impressos defeituosos poderão ser embaladas nos pacotes, não caracterizando a necessidade de reimpressão.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>49)</b>Caso seja constatada durante a triagem que, por qualquer motivo, a perda do material foi inferior a 30%, não será feita a reimpressão. Só será efetuada reimpressão por quantidade quando a falta do material for superior a 30% do total.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>50)</b> Para todos os casos, a devolução total do material defeituoso é obrigatória para que se proceda com a análise e possível reimpressão. Os produtos deverão ser devolvidos, em sua embalagem original, sem indícios de uso e nas mesmas condições que forem recebidas. Se após análise ficar constatado que não houve defeito no processo de impressão, o material será enviado novamente para o cliente, não será realizado reembolso ou crédito para uma futura compra.</p>
                   </li>
                   <li class="h5 text-muted
            ">
                   <p><b>51)</b>Para iniciar o processo de devolução e análise do material, entre em contato com um de nossos canais de atendimento, em <a href="Ajuda.html ">https://www.CARTÃO AQUI.com.br/central-de-ajuda</a>. O prazo para análise é de 5 dias úteis, a contar da chegada do produto na CARTÃO AQUI.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>52)</b>O prazo para reclamações de eventuais defeitos é de 10 dias corridos da data da finalização da produção do pedido, exceto quando às quantidades, que deverá ser reclamada no ato da retirada ou entrega. Não aceitamos reclamações após este prazo.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>53)</b>Não faremos reimpressão por causa de rigidez do papel.</p>
                   </li>
                   <li>
                   <h2>DAS DISPOSIÇÕES GERAIS:</h2>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>54)</b>A CARTÃO AQUI realiza somente serviços e produtos gráficos para usos promocionais. O Contratante declara que os produtos não serão comercializados no mercado. Qualquer tentativa de burlar essa norma será caracterizada como crime de falsidade ideológica.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>55)</b>Ao solicitar a compra do serviço, o Contratante deverá declarar, sob as penas da Lei, que é o proprietário do arquivo e dos direitos a ele inerentes, cujo serviço está sendo solicitado, e desta forma, está expressamente autorizado, e que, no caso do trabalho conter pessoa ou lugares os quais dependam de autorização, estas foram obtidas, bem como que os serviços não serão utilizados para alterarem a realidade dos fatos e assim prejudicarem terceiros, seja em processos judiciais ou em que âmbito for.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>56)</b>As declarações acima a serem prestadas pelo Contratante deverão ser verdadeiras, estando este sujeito às penas das leis civis e criminais, por falsa informação ou pelas consequências oriundas do seu ato praticado.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>57)</b>A CARTÃO AQUI tem um ambiente tecnológico seguro. A comunicação entre o computador do Contratante e a CARTÃO AQUI,durante o procedimento de cadastro e/ou alteração de dados cadastrais e senha utilizam criptografia padrão, e protocolo SSL – Secure Sockets Layer. No entanto, nenhuma transmissão de dados através da Internet é totalmente segura. Assim, apesar dos esforços da CARTÃO AQUI para garantir a privacidade de seus dados, tanto no armazenamento quanto na transmissão dos mesmos, a CARTÃO AQUI não pode garantir total segurança. </p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>58)</b>O presente instrumento constitui o acordo integral entre as partes, prevalecendo sobre qualquer outro entendimento firmado anteriormente.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>59)</b>O Contratante compromete-se a não ingressar nas imagens de outros Contratantes, seja violando ou não o sistema de segurança, sob pena de responder civil e criminalmente pelos danos causados.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>60)</b>Todas as notificações a qualquer das partes devem ser feitas por escrito, via e-mail ou correio convencional. A CARTÃO AQUI poderá divulgar notificações ou mensagens através do SITE para informar o Contratante de mudanças no serviço ou termos do serviço, ou outros assuntos relevantes.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>61)</b>O SITE apresentará a relação de serviços disponíveis, onde estará constando o valor de cada um,sendo que o Contratante escolherá o tipo de serviço que deseja. A informação de preço pode ser alterada sem aviso prévio, sendo considerada válida a informação do momento de solicitação do serviço. Por este motivo, o Contratante deve sempre consultar o valor final atualizado na tela do SITE, e que irá constar no momento do pedido.</p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>62)</b>O SITE somente executará serviços provenientes de arquivos digitais, estando claro que o Contratante, para isto deverá ter acesso a internet, por sua conta e risco. </p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>63)</b>A CARTÃO AQUI reserva-se do direito de a qualquer momento alterar o disposto neste instrumento, mediante a disponibilidade na página inicial do SITE.  </p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>64)</b>A CARTÃO AQUI é a titular da marca, logotipo, logomarca e endereço utilizados neste SITE, sendo-lhe assegurados todos os direitos sobre os mesmos.   </p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>65)</b>Adicionalmente, a CARTÃO AQUI é titular de todas as informações, documentos, imagens e materiais contidos no SITE: Assim, a reprodução, armazenamento, desses materiais sujeitará o Contratante às penas da lei.  </p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>66)</b>O presente contrato não configura qualquer forma de sociedade, vínculo, parceria, de fato ou de direito, entre as partes, inexistindo solidariedade entre elas, e não estando as mesmas autorizadas a representar ou assumir obrigações uma em nome da outra.   </p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>67)</b>Com o pedido de compra no SITE, tem início este contrato, demonstrando que o Contratante aceita as condições estipuladas neste instrumento, que deverão ser observadas e seguidas pelo Contratante até a entrega dos produtos e efetuado o pagamento devido, sendo que, com o pagamento total dos pedidos, este ato colocará termo final ao contrato.   </p>
                   </li>
                   <li class="h5 text-muted ">
                   <p><b>68)</b>Os termos do serviço e o relacionamento entre as partes serão regidos e interpretados no idioma português e de acordo com as leis da Republica Federativa do Brasil, sem consideração a qualquer disposição sobre conflito de leis, ficando eleito o Foro da Comarca de São Paulo, SP, com expressa renuncia de qualquer outro, por mais privilegiado que seja, para dirimir qualquer duvida, pendência ou litígio oriundo do mesmo. </p>
                   </li>
                 </ul>
                         </div>
          </td>
      </tr>      
    </table>
  </div>
</section>
